<!DOCTYPE html>
<html>
<head>
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <title>Осетинские пироги </title>
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000000"/>
    <link rel="stylesheet" href="/static/dist/css/main.css?version=2.3">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/cropped-fav-32x32.png">

    <meta name="google-site-verification" content="jgUHAiIksd5MKEjr6eaH_5dVLQ733jvfL7Z6L_Ddiqo" />

    <link rel="icon" href="/static/img/cropped-fav-32x32.png" sizes="32x32">
    <link rel="icon" href="/static/img/cropped-fav-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/static/img/cropped-fav-180x180.png">

    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">


    <link rel="image_src" href="/static/dist/logo.jpg"/>

</head>
<body>

<div id="app"></div>

<script src="/static/dist/vendor.js?version=2.3"></script>
<script src="/static/dist/main.js?version=2.3"></script>

</body>
</html>