<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Осетинские пироги </title>
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000000"/>
    <link rel="stylesheet" href="/static/dist/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
</head>
<body>

<div class="loader"  id="loader">
    <h1 class="loader_h">Пирог в процессе...</h1>
    <div id="cooking">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div id="area">
            <div id="sides">
                <div id="pan"></div>
                <div id="handle"></div>
            </div>
            <div id="pancake">
                <div id="pastry"></div>
            </div>
        </div>
    </div>
</div>
<div id="app"></div>

<script src="/static/dist/vendor.js?version=1.4"></script>
<script src="/static/dist/main.js?version=1.4"></script>

</body>
</html>