<!DOCTYPE html>
<html>
<head>
    <meta name="fragment" content="!">
    <meta charset="utf-8">
    <title>Осетинские пироги </title>
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#000000"/>
    <link rel="stylesheet" href="/static/dist/css/main.css?version=2.4">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/cropped-fav-32x32.png">

    <link rel="icon" href="/static/img/cropped-fav-32x32.png" sizes="32x32">
    <link rel="icon" href="/static/img/cropped-fav-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="/static/img/cropped-fav-180x180.png">

    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">

    <meta name="description" content="Пекарня «Всё о пирогах» — это специализированная компания, выпекающая осетинские пироги по традиционной и оригинальной рецептуре, в полном соответствии с современными технологиями и установленными стандартами, с соблюдением контроля за изготовлением продукции и обеспечением ассортимента.">
    <meta name="keywords" content="Пекарня «Всё о пирогах»  выпекающая осетинские пироги по традиционной и оригинальной рецептуре" >
    <meta property="og:description" content="Пекарня «Всё о пирогах» — это специализированная компания, выпекающая осетинские пироги по традиционной и оригинальной рецептуре, в полном соответствии с современными технологиями и установленными стандартами, с соблюдением контроля за изготовлением продукции и обеспечением ассортимента."/>
    <link rel="image_src" href="/static/dist/logo.jpg"/>

</head>
<body>

<div id="app"></div>

<script src="/static/dist/vendor.js?version=2.4"></script>
<script src="/static/dist/main.js?version=2.4"></script>

</body>
</html>