.basket__info{
  &_title{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-family YanoneRegular
    padding-bottom: 50px
  }
  &_input{
    padding-bottom: 30px
    width: 400px
    display: flex
    justify-content: space-between
    position relative
    .valid{
      position: absolute
      bottom: 13px;
      color: #ba2626;
      right: 0px;
      font-size  12px
    }
    label{
      font-family YanoneRegular
      font-size 20px
    }
    .form_input{
      width: 260px
      border: 1px solid #5c5c5d;
      padding: 19px 16px 16px 18px;

    }
  }
}