.discount{
  &__wrapper{
    max-width: 980px
    margin: 0 auto
    text-align center
    margin-bottom:90px
  }
  &_title{
    margin-top: 90px
    font-size: 25px;
    font-weight: bold;
    color: #ba1125;
    font-family CenturyRegular;
    text-transform uppercase
    padding-bottom: 40px
  }
  p{
    font-family YanoneRegular
    font-size: 23px
    text-transform uppercase
    line-height: 36.33px;
    font-weight bold
    margin: 0
  }
  &_red{
    color: #ba1125
  }
  &_border{
    text-decoration underline
  }
  &_button{
    margin-top: 70px
    background-color: #ba1125;
    font-size: 25px;
    font-family YanoneRegular
    font-weight bold
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 55px
    display: inline-block
    transition .3s
    &:hover{
      opacity: .7
    }
  }
}