@font-face {
  font-family: "BeerRegular";
  src: url("../fonts/BeerRegular/BeerRegular.eot");
  src: url("../fonts/BeerRegular/BeerRegular.eot?#iefix")format("embedded-opentype"),
          url("../fonts/BeerRegular/BeerRegular.woff") format("woff"),
          url("../fonts/BeerRegular/BeerRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "CenturyRegular";
  src: url("../fonts/CenturyRegular/CenturyRegular.eot");
  src: url("../fonts/CenturyRegular/CenturyRegular.eot?#iefix")format("embedded-opentype"),
          url("../fonts/CenturyRegular/CenturyRegular.woff") format("woff"),
          url("../fonts/CenturyRegular/CenturyRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "YanoneRegular";
  src: url("../fonts/YanoneRegular/YanoneRegular.eot");
  src: url("../fonts/YanoneRegular/YanoneRegular.eot?#iefix")format("embedded-opentype"),
          url("../fonts/YanoneRegular/YanoneRegular.woff") format("woff"),
          url("../fonts/YanoneRegular/YanoneRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
          url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
          url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}