.header{
  height: 190px
  position: relative
  z-index: 100
  &:after{
    content: ''
    position: absolute
    left: 0px
    bottom: -13px
    width: 100%
    height: 16px
    background url("/static/img/icon/linebot.png")
    background-size cover
    background-repeat repeat-x
  }
  &__top{
    display flex
    justify-content: space-between
    height: 134px
  }
  &__title{
    flex:60%
    text-align center
    h1{
      font-size: 75px;
      color: #000;
      margin: 0
      line-height: 70px
      margin-top: 30px
      margin-bottom: 22px
      text-transform uppercase
    }
  }
  &__phone{
    flex: 20%
    margin-top: 42px;
    padding-left: 110px
    position: relative
    &:after{
      content: ''
      position: absolute
      top: 2px;
      left: 30px
      width: 64px
      height: 64px
      background url('/static/img/icon/phone.svg') no-repeat
      background-size 100%
    }
    &-text{
      font-size: 13px;
      font-family CenturyRegular
      color: #4f4f4f;
    }
    &-number{
      cursor: pointer
      font-size: 20px;
      color: #000000;
      line-height:  20px
      font-weight bold
      font-family CenturyRegular
      margin-bottom: 9px;
      display: block
      transition .3s
      &:hover{
        color: #ba1125
      }
    }

  }
  &__basket{
    flex: 20%
    display: flex
    justify-content: flex-end;
    padding-right: 68px
    padding-top: 60px
    position: relative
    &_item-button{
      background-color: #de3346;
      font-size: 14px;
      font-weight: 700;
      margin-top: 14px
      font-family: CenturyRegular;
      color: #fff;
      border: none;
      padding: 18px 20px
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      margin-left: 90px;
      position: relative;
    }
    &_wrapper{
      position: absolute
      z-index: 20
      top: 115px;
      right: 27px;
    }
    &__img{
      background url("/static/img/icon/basket.svg") no-repeat
      background-size 100%
      width: 64px
      height: 64px
      cursor: pointer
      position: relative
      &-count{
        position: absolute
        content: ''
        top: 13px
        left: -2px
        font-size: 21px;
        font-family CenturyRegular
        font-weight bold
        width: 100%
        color: #000000;
        text-align: center
      }
    }
    &-price{
      font-size: 21px;
      font-family CenturyRegular
      font-weight: bold;
      color: #ba1125;
      margin-left: 15px
      margin-top: 14px

    }
  }
  &__items{
    display: flex
    border-top: 4px solid black
    justify-content: space-between
    max-width: 700px;
    margin: 0 auto
    .router-link-exact-active{
      color: #000000;
      cursor: default
      border-bottom:4px solid black
      &:hover{
        color: #000000

      }
    }
  }
  &__item{
    font-size: 31px;
    text-transform: uppercase;
    color: #000000;
    font-family YanoneRegular
    transition .4s
    line-height: 46px
    cursor: pointer
    border-bottom:4px solid rgba(0,0,0,0)
    &:hover{
      color: #ba1125
    }
  }

  &__mini{
    width: 100%
    height: 150px
    position: relative
    overflow: hidden;
    &_title{
      font-size: 63px;
      color: white
      text-transform uppercase
      font-weight: 700;
      font-family YanoneRegular
      position: relative
      z-index:1
      margin-top 30px
    }
    &_list{
      display: flex
      position: relative
      z-index: 1
    }
    &_item{
      font-size: 21px;
      font-family YanoneRegular
      color white
      cursor: pointer
      margin-right: 5px
      &-active{
        color: #ba1125;
        padding-left: 5px
        cursor: default
      }
    }
    &:after{
      content: ''
      position: absolute
      top: -112px;
      left: 151px;
      width: 300px
      height: 250px
      background url("/static/img/salad3.png")  no-repeat
      background-size 100%
      background-position top
      z-index: 1
    }
    &:before{
      content: ''
      position: absolute
      top: -100px;
      right: 151px;
      width: 300px
      height: 250px
      background url("/static/img/popular1.png")  no-repeat
      background-size 100%
      background-position top
      z-index: 1
    }
    &_wrapper{
      width: 100%
      display: flex
      flex-direction column
      justify-content: center
      align-items: center
      position: relative
      &:after{
        content: ''
        position: absolute
        top: 0px
        left 0px
        width: 100%
        height: 150px
        background url("/static/img/fon-min.jpg")
        background-size: 626px;
        background-position: center;
      }
    }
  }
}

.basket-header{
  width: 100px
  display: flex
  justify-content: space-between
  align-items center
  position: relative
  font-family YanoneRegular
  &:hover{
    .basket-header_number{
      transform: rotateY(360deg);
    }
  }
  &_button{
    background-color: #de3346;
    font-size: 12px;
    font-weight: 700;
    font-family: CenturyRegular;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      opacity: .8
    }
  }
  &__wrapper{
    max-height: 300px
    overflow: auto
    padding-right: 10px
  }
  &__popup{
    position: relative
    width: 375px
    top: 20px
    right: 0px
    padding: 20px 20px 20px 20px
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color #ffffff
    &_wrapper{
      position: absolute
      z-index: 100
      top: 20px
      right: 0px

    }
    &:after{
      content: ''
      background-color #ffffff
      width: 20px
      height: 20px
      transform rotate(45deg)
      box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.1);
      position: absolute
      top: -10px
      right: 50px
    }
    &_false{
      font-family YanoneRegular
      font-size 20px
      text-align center
    }
  }
  &__item{
    display: flex
    padding: 10px 0px
    border-bottom: 1px solid #d8d8d8
    justify-content: space-between
    position: relative
    &:last-child{
      border-bottom: none
    }
    &-active{
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      background-color rgba(255, 255, 255, 0.8)
      display: flex
      justify-content: center
      align-items center
    }
    &-desc{
      width: 150px
      font-family YanoneRegular
    }
    &-close{
      cursor pointer
      position: absolute
      right: 0px
      top:-3px
      color: rgba(150, 150, 150, 0.63);
      font-family: 'MuseoSansRegular'
      font-size 30px
      transform rotate(45deg)
      transition .3s
      z-index 2
      &:hover{
        color: rgba(150, 150, 150, 1)
      }
    }
    &-img{
      width: 100px
      display: flex
      align-items center
      justify-content center
      height: 96px
      cursor: pointer
      overflow: hidden
      img{
        width: 100%
      }
    }
    &-price{
      position: relative
      font-family YanoneRegular
      font-size 16px
      width: 52px;
      text-align: right;
      display: flex
      align-items: center
      justify-content: right
    }
  }
}

.popupBasket-enter-active {
  transition: all .3s ease;
}
.popupBasket-leave-active {
  transition: all .3s ease;
}
.popupBasket-enter, .popupBasket-leave-to{
  opacity: 0;
  transform translateX(30px)
}
