.index__order {
  margin-top: 80px
  position: relative
  background url("/static/img/order12.png") no-repeat
  height: 880px
  background-size 100%
  width: 100%
  &:after{
    content:''
    position: absolute
    width: 100%
    height: 100%
    background url("/static/img/order222.png") no-repeat
    background-size 100%
    top: 0px
    left:0px
  }
  &_wrapper{
    max-width: 1200px
    margin 0 auto
    position: relative
    z-index: 2
  }
  &_title {
    width: 100%
    display: flex
    justify-content: center
    align-items center
    margin-bottom: 30px
    &-text{
      margin-top: 140px
      font-size: 68px;
      text-align center
      color: black;
      line-height: 85px
      text-transform uppercase
      position: relative
      span{
        color: #ba1125;
      }
    }
  }
  &_slider{
    .swiper-button-prev{
      position: absolute
      top: 100px
      left: calc(50% - 20px)
      background url("/static/img/orderarrow.png") no-repeat
    }
    .swiper-button-next{
      position: absolute
      top: 100px
      left: calc(50% + 20px )
      background url("/static/img/orderarrow.png") no-repeat
      transform rotate(180deg)
    }
    .order__slider{
      display: flex
      justify-content: space-between
      &_left{
        max-width: 550px
        padding-right: 40px
      }
      &_right{
        img{
          width:100%
        }
      }
      &_title{
        font-size: 46px;
        color: #000000;
        font-family CenturyRegular
        font-weight bold
        padding-top: 50px
        text-transform uppercase
        padding-bottom: 30px
      }
      &_text{
        font-size: 29px;
        text-transform uppercase
        font-family YanoneRegular
        font-weight bold
        border-bottom: 1px solid black
        padding-bottom: 20px
      }
      &_desc{
        font-style: italic;
        font-size: 25px;
        font-family CenturyRegular
        color: #000000;
        padding-top: 20px
      }
      &_button{
        display: flex
        margin-top: 40px

        &-left{
          font-size: 19px;
          color: #000000;
          font-family CenturyRegular
          border 1px solid black
          padding: 18px 40px 18px 30px
          background-color rgba(0, 0, 0, 0)
          position: relative
          transition .3s
          margin-right: 30px
          cursor: pointer
          &:after{
            content: ''
            position: absolute
            top: 23px;
            right: 15px;
            background url("/static/img/button1.png") no-repeat
            background-size 100%
            width: 6px
            height: 14px
          }
          &:hover{
            background-color rgb(0, 0, 0)
            color:white
            &:after{
              background url("/static/img/button2.png") no-repeat
            }
          }
        }
        &-right{
          font-size: 19px;
          color: #000000;
          font-family CenturyRegular
          border 1px solid black
          padding: 18px 40px 18px 30px
          background-color rgba(0, 0, 0, 0)
          position: relative
          transition .3s
          cursor: pointer
          &:after{
            content: ''
            position: absolute
            top: 23px;
            right: 15px;
            background url("/static/img/button1.png") no-repeat
            background-size 100%
            width: 6px
            height: 14px
          }
          &:hover{
            background-color rgb(0, 0, 0)
            color:white
            &:after{
              background url("/static/img/button2.png") no-repeat
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1680px) {
  .index__order_wrapper{
    max-width: 1000px
  }
  .index__order_title-text{
    font-size 54px
  }
  .index__order_slider {
    .order__slider_left{
      max-width: 450px
    }
    .order__slider_title{
      font-size 35px
      padding-bottom: 15px
    }
    .order__slider_text {
      font-size: 23px;
    }
    .order__slider_desc {
      font-size: 18px;
    }
    .order__slider_right{
      max-width: 400px
    }
    .order__slider_button-left{
      font-size 15px
      padding: 15px 30px 15px 20px
      &:after{
        top: 18px
      }
    }
    .order__slider_button-right{
      font-size 15px
      padding: 15px 30px 15px 20px
      &:after{
        top: 18px
      }
    }
  }
}
@media (max-width: 1440px) {
  .index__order{
    height: 700px
  }
  .index__order_title-text{
    margin-top: 90px
    margin-bottom: 0px
  }
  .index__order_title{
    margin-bottom: 0px
  }
}
@media (max-width: 1366px) {
  .index__order_title-text{
    margin-top: 50px
    margin-bottom: 0px
  }
  .index__order_title{
    margin-bottom: 0px
  }
}