.index__popular{
  margin-top: 20px
  position: relative
  .popular_button{
    background-color black
    position: absolute
    bottom: 200px
    left: calc(50% - 150px)
    font-size: 29px;
    color:white
    padding: 20px 30px
    font-family BeerRegular
    border none
    cursor: pointer
    z-index: 4
    transition .5s
    &:hover{
      background-color #ba1125;
    }
  }
  &_title{
    width: 100%
    display: flex
    justify-content: center
    align-items center
    &:after{
      content: ''
      position: absolute
      top: -120px
      left: 0px
      width: 170px
      height: 300px
      background url("/static/img/popular2.png") no-repeat
      background-size 100%
      z-index: 0
    }
    &-text{
      font-size: 71px;
      text-align center
      color: #fefefe;
      line-height: 85px
      border-top: 4px solid white
      text-transform uppercase
      position: relative
      &:after{
        content: ''
        position: absolute
        top: -65px;
        left: calc(100% + 80px)
        width: 280px
        height: 348px
        background url("/static/img/popular1.png") no-repeat
        background-size 100%
        z-index: 0
      }
    }
  }
  &_wrapper{
    background url("/static/img/popularwrapper.png") no-repeat
    background-size cover
    background-position center
    display: flex
    position relative
    padding-bottom: 350px
    z-index: 3
    &:after{
      content: ''
      position: absolute
      background url("/static/img/popular1234.png") no-repeat
      background-size 100%
      width: 100%
      height: 525px
      top: -91px
      left: 0px
    }
    &:before{
      content: ''
      position: absolute
      background url("/static/img/popular12.png") no-repeat
      background-size 100%
      width: 100%
      height: 666px
      bottom: -132px
      left: 0px
    }
  }
  &_items{
    display: flex
    position: relative
    z-index: 3
    flex-wrap: wrap
    max-width: 1600px
    margin: 0 auto
    margin-top: 300px
  }
  &_item{
    max-width: 500px
    max-height: 370px
    width: 30.9%;
    margin-right: 50px
    margin-bottom 50px
    cursor: pointer
    &:hover{
      .popular_img-wrapper{
        opacity: 1
      }
    }
    &:nth-child(3n+ 3){
      margin-right: 0px
    }
    .popular_item{
      &-text{
        margin-top: 20px
        width: 100%
        background-color black
        text-align: center
        color: white
        text-transform: uppercase;
        font-family CenturyRegular
        padding-right  60px
        padding-left: 60px
        padding-bottom: 20px
      }
      &-title{
        font-size: 33px;
        font-weight: 700;
        padding-top: 18px
        padding-bottom: 14px
        border-bottom: 1px solid white
      }
      &-desc{
        font-size: 20px;
        font-weight: 700;
        padding-top: 10px
        font-family YanoneRegular
      }
    }
    .popular_img{
      width 100%
      height 240px
      overflow: hidden
      position: relative
      display: flex
      align-items center
      justify-content: center

      img{
        height:100%
      }
      &-wrapper {
        position: absolute
        top: 0px
        left: 0px
        width: 100%
        height: 100%
        background-color rgba(0, 0, 0, 0.45)
        opacity: 0
        transition .5s
      }
      &-top{
        height: 120px
        width: 100%
        text-align center
        font-size: 33px;
        padding-top: 48px
        font-family CenturyRegular
        color: white
        transition .5s
        background-color: rgba(184, 17, 37, 0)
        &:hover{
          background-color: rgba(184, 17, 37, 0.75)
        }
        img{
          margin-left: 10px
          width: 23px
          height: 24px
        }
      }
      &-bottom{
        height: 120px
        width: 100%
        text-align center
        font-size: 33px;
        padding-top: 40px
        font-family CenturyRegular
        color: white
        transition .5s
        background-color: rgba(184, 17, 37, 0)
        &:hover{
          background-color: rgba(184, 17, 37, 0.75)
        }
        img{
          margin-left: 10px
          width: 23px
          height: 24px
        }
      }
    }
  }
}

@media(max-width: 1680px) {
  .index__popular {
    .popular_button{
      bottom: 140px
    }
  }
  .index__popular_wrapper{
    padding-bottom: 250px
    &:after{
      top: -54px
    }
    &:before{
      bottom: -187px
    }
  }
  .index__popular_items{
    max-width: 1300px
  }
  .index__popular_item{
    margin-right: 30px
    width: 31.5%
    .popular_item-text{
      padding-right: 40px
      padding-left: 40px
    }
    .popular_img{
      height: 200px
    }
    .popular_img-top{
      font-size 25px
      padding-top: 36px;
      height: 100px

    }
    .popular_img-bottom{
      padding-top: 36px
      font-size 25px
      height: 100px
    }
    .popular_item-title{
      font-size 24px
      padding-top: 14px;
      padding-bottom: 10px;
    }
    .popular_item-desc{
      font-size 17px
      padding-top: 5px
    }
  }
}

@media(max-width: 1440px) {
  .index__popular {
    .popular_button{
      bottom: 150px
    }
  }
  .index__popular_wrapper{
    padding-bottom: 250px
    &:after{
      top: -54px
    }
    &:before{
      bottom: -187px
    }
  }
  .index__popular_items{
    max-width: 1100px
  }

  .index__popular_item{
    margin-bottom: 40px;
    margin-right: 30px
    width: 31.5%
    .popular_item-text{
      padding-right: 30px
      padding-left: 30px
    }
    .popular_img{
      height: 166px
    }
    .popular_img-top{
      padding-top: 30px
      font-size 20px
      height: 88px
    }
    .popular_img-bottom{
      font-size 20px
      height: 88px
      padding-top: 23px
    }
    .popular_item-title{
      font-size 21px
      padding-top: 10px;
      padding-bottom: 8px;
    }
    .popular_item-desc{
      font-size 15px
      padding-top: 5px
    }
  }
}
@media(max-width: 1366px){
  .index__popular_wrapper{
    padding-bottom: 250px
    &:after{
      top: -54px
    }
    &:before{
      bottom: -272px
    }
  }
  .index__popular {
    .popular_button{
      bottom: 130px
    }
  }
}