.slider{
  display: flex
  height: 100%
  overflow: hidden
  &__pagination{
    position: absolute
    height: 100%
    top: 0px
    right: 100px
    z-index: 20
    width: 72px
    display: flex
    flex-direction column
    justify-content: center
    &_wrapper{
      position: relative
      &:after{
        content: ''
        position: absolute
        bottom: 100%;
        left: calc(50%- 2px )
        height: 400px
        background-color white
        width: 4px
      }
      &:before{
        content: ''
        position: absolute
        top: 100%;
        left: calc(50%- 2px )
        height: 400px
        background-color white
        width: 4px
      }
    }
    &-bullet{
      width: 72px
      height: 72px
      border 2px solid white
      background-color rgba(216, 191, 216, 0)
      border-radius 50%
      display: flex
      justify-content: center
      align-items center
      margin-bottom: 20px
      position: relative
      transition .5s
      cursor: pointer
      &:after{
        content: ''
        position: absolute
        top: 100%;
        left: calc(50%- 2px )
        height: 22px
        background-color white
        width: 4px
      }
      &:last-child{
        margin-bottom: 0px
        &:after{
          width: 0px
          height: 0px
        }
      }
      &:before{
        content:''
        width: 36px
        position: absolute
        height: 43px
        background url("/static/img/lepistok.png") no-repeat
        background-size 100%
        top: -18px;
        right: -22px;
        opacity: 0
        transition .5s
      }
    }
    &-img{
      &_active{
        display: none
      }
    }
    &-active{
      background-color white
      .slider__pagination-img{
        display: none
      }
      .slider__pagination-img_active{
        display: block
      }
      &:before{
        opacity: 1
      }
    }
  }
  &__left{
    position: relative;
    padding-left: 76px;
    padding-top: 96px;
    max-width: 650px;
    width: 34%;
    &:after{
      content ''
      position: absolute
      width: 236px
      height: 106px
      background url("/static/img/arrowright.png") no-repeat
      background-size 100%;
      top: 316px;
      right: -161px;
    }
    .slider__img{
      position: absolute
      width: 450px
      height: 450px
      top: -90px
      right: -542px
    }
  }
  &__title{
    font-size: 60px;
    text-transform: uppercase;
    font-family YanoneRegular
    padding-bottom: 20px
    color: white
    border-bottom: 4px solid white
    display: inline-block
    line-height: 60px
    cursor: pointer
  }
  &__desc{
    text-transform: uppercase;
    font-family CenturyRegular
    font-size: 25px;
    font-weight: bold
    color white
    line-height: 30px
    padding-top: 16px
  }
  &__img{
    img{
      width: 100%
    }
  }
  &__right{
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 800px;
    padding-left: 170px;
    padding-bottom: 31px;
    width: 34%;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    &:after{
      content ''
      position: absolute
      width: 236px
      height: 106px
      background url("/static/img/arroleft.png") no-repeat
      background-size 100%
      bottom: 220px
      left: 25px
    }
    .slider__img{
      position: absolute
      width: 450px
      height: 450px
      bottom: -180px
      left -454px
    }
  }
  &__discount{
    padding-top: 160px
    position: relative
    &-title{
      font-size: 78px;
      color: #ffffff;
      transform rotate(-10deg) translateX(-39px);
    }
    &-count{
      font-size: 272px;
      color: #b81125;
      line-height:  174px
      text-shadow 1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white, 3px 3px 6px rgba(0,0,0,.0);
    }
  }
}

@media (max-width: 1760px){

  .index__slider .swiper-container{
    height: 657px;
  }
  .slider__discount-title{
    font-size: 54px;

  }
  .slider__discount{
    padding-left: 100px
  }
  .slider__discount-count{
    font-size: 223px;
  }
  .slider{
    &__left{
      max-width: 500px
      .slider__img{
        width: 400px
        height: 400px
        right: -578px;
      }
      &:after{
        width: 200px;
        height: 106px;
        top: 230px;
        right: -146px;
      }
    }
    &__right{
      .slider__img{
        width: 400px;
        height: 400px;
        bottom: -158px;
        left: -427px;
      }
      &:after{
        width: 200px;
        height: 106px;
        bottom: 185px;
        left: 58px;
      }
    }
    &__title{
      font-size: 55px;
      padding-bottom: 5px
    }
    &__desc{
      font-size 19px

    }
  }
}
@media (max-width: 1680px){
  .slider__title {
    font-size: 47px;
    padding-bottom: 5px;
    line-height: 48px;
  }
  .slider__left .slider__img {
    width: 370px;
    right: -550px;
  }
  .slider__left {
    max-width: 402px;
  }
  .slider__right .slider__img {
    left: -305px;
  }
  .slider__left:after {
    width: 169px;
    height: 106px;
    top: 259px;
    right: -201px;
  }
  .slider__right:after {
    width: 167px;
    height: 106px;
    bottom: 185px;
    left: 106px;
  }
  .slider__discount-count {
    font-size: 185px;
    line-height: 122px;
  }
}
@media (max-width: 1440px){
  .slider__pagination{
    right:35px
  }
  .slider__discount{
    padding-left: 140px;
  }
  .index__slider .swiper-container{
    height: 657px;
  }
  .slider__discount-title{
    font-size: 46px;
  }
  .slider__discount-count{
    font-size: 179px;
  }
  .slider{
    &__left{
      max-width: 384px;
      .slider__img{
        width: 400px
        height: 400px
        right: -548px;
      }
      &:after{
        width: 155px;
        height: 106px;
        top: 286px;
        right: -146px;
      }
    }
    &__right{
      .slider__img{
        width: 400px;
        height: 400px;
        bottom: -158px;
        left: -356px;
      }
      &:after{
        width: 155px;
        height: 106px;
        bottom: 185px;
        left: 97px;
      }
    }
    &__title{
      font-size: 44px;
      line-height: 49px;
      padding-bottom: 12px;
    }
    &__desc{
      font-size: 16px;
      padding-top: 2px
    }
  }
}

@media (max-width: 1330px){
  .slider__discount{
    padding-top: 173px;
    padding-left: 29px;
  }
  .index__slider .swiper-container{
    height: 600px;
  }
  .slider__discount-title{
    font-size: 50px;
  }
  .slider__discount-count{
    font-size: 184px;
    line-height: 112px;
  }
  .slider{
    &__left{
      max-width: 500px
      .slider__img{
        width: 350px
        height: 350px
        right: -402px;
      }
      &:after{
        width: 155px;
        height: 106px;
        top: 249px;
        right: -146px;
      }
    }
    &__right{
      padding-left: 86px;
      .slider__img{
        left: -343px;
        width 350px
        height: 350px
      }
      &:after{
        width: 155px;
        height: 106px;
        bottom: 170px;
        left: 97px;
      }
    }
    &__title{
      font-size: 49px;
      padding-bottom: 5px;
      line-height: 53px;
    }
    &__desc{
      font-size: 15px;
      padding-top: 2px
    }
  }
}